*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000 0% , #FF0000 53%,#333333 100%,#1A1A1A 100%);
}
.element {
    margin-top: 8vh;
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    text-align: center;
    border-radius: 42px;
    background: linear-gradient(to bottom, #000000 0%, #B9B9B9 100%);
    padding: 3px; /* Thickness of the fake border */
    display: inline-block; /* Or block depending on your layout */
}

.element > .inner {
    text-align: center;
    margin: auto;
    border-radius: 42px;
    width: 70vw;
    height: 55vh;
    background: linear-gradient(to bottom,#0B210B 0%,#2B872B 100%);
    padding: 1rem; /* Your actual content padding */
    position: relative;
}
.logo p{
    line-height: 8vh;
}
.logo{
    text-align: center;
    color: rgba(255, 255, 255, 40%);
    font-size: 5em;
    font-family: 'Island Moments', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%,-50%);
}
.chair{
    z-index: 1000;
    display: flex;
    width: 12vh;
    height: 12vh;
    position: absolute;
    background-color: #000000;
    border-radius: 50%;
    background-image: linear-gradient(to bottom,#393939 0%,#B9B9B9 100%);
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
.chair1{
    top: -6vh;
    left: 50%;
    transform: translate(-50%);
    
}
.chair2{
    bottom: -6vh;
    left: 50%;
    transform: translate(-50%);
}
.chair3{
    left: -6vh;
    top: 50%;
    transform: translate(0,-50%);
    
}
.chair4{
    right: -6vh;
    top: 50%;
    transform: translate(0,-50%);
}
.order{
    display: flex;
    width: 6vh;
    height: 4vh;
    position: absolute;
    background-color: #000000;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,#393939 0%,#B9B9B9 100%);
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
.order>input{
    color: #000000;
    font-size: 14px;
    text-align: center;
    width: 5vh;
    height: 3vh;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 30%);
}
.order1{
    top: 6.5vh;
    left: 50%;
    transform: translate(-50%);
}
.order2{
    bottom: -10.5vh;
    left: 50%;
    transform: translate(-50%);
}
.order3{
    left: -3vh;
    top: 65.5%;
    transform: translate(0,-50%);
}
.order4{
    right: -3vh;
    top: 65.5%;
    transform: translate(0,-50%);
}
.score{
    color: white;
    margin-top: 10vh;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate( -50%);
    width: 85vw;
    height: 13vh;
    text-align: center;
    border-radius: 42px;
    background: linear-gradient(to bottom, #000000 0%, #B9B9B9 100%);
    padding: 3px; /* Thickness of the fake border */
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.7vh;
    direction: rtl;
}
button {
    color: white;
    width: 20vw;
    height: 40px;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 56px;
    font-size: 0.8em;
}

a{
    color: white;
    text-decoration: none;
}
.check{
    width: 4vh;
}
.check>input{
    width: 2.5vh;
    height: 2.5vh;
}
.check1{
    top: 10.7vh;
    left: 50%;
    transform: translate(-50%);
}
.check2{
    bottom: -15vh;
    left: 50%;
    transform: translate(-50%);
}
.check3{
    left: -2.2vh;
    top: 74%;
    transform: translate(0,-50%);
}
.check4{
    right: -2vh;
    top: 74%;
    transform: translate(0,-50%);
}
.round{
    color: white;
    position: absolute;
    left: 80%;
    bottom: 15vh;
    transform: translate( -50%);
}