*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000 0% , #FF0000 53%,#333333 100%,#1A1A1A 100%);
}
.start{

    margin: auto;
    margin-top: 30vh;
    width: 70vw;
}
button {
    color: white;
    width: 70vw;
    height: 66px;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 56px;
    font-size: 2em;
}

a{
    color: white;
    text-decoration: none;
}
.logo p{
    margin-bottom: -0.5em;
}
.logo{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 8em;
    font-family: 'Island Moments', cursive;
}
